/* datepicker */
td.day {
  cursor: pointer;
}

#resetImage {
  display: block;
  margin-left: 64px;
  margin-top: 16px;
}

#imgUploader {
  position: absolute;
  top: 8px;
}

.image-preview {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  margin-top: 16px;
}
